@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Serif', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #141e30; /* fallback for old browsers */
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab);
}

.mobile-container {
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 1rem;
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 1rem;
  overflow: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.fav-container {
  background-color: rgb(243, 225, 255);
}

img {
  max-width: 100%;
  margin-left: 10vh;
}

header input {
  border: none;
  background-color: #eee;
  border-radius: 0.7rem;
  padding: 0.3rem;
  margin-right: 0.2 rem;
}

header button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul li img {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0.5px solid black;
}

li {
  list-style-type: none;
}

.meal-header {
  margin: 1rem;
}

.fav-container {
  text-align: center;
}

span {
  font-size: 0.8rem;
}

.meals {
  margin-top: 10px;
  height: 50%;
}
.meal {
  background-color: rgb(243, 225, 255);
}
.meal img {
  object-fit: cover;
  width: 300px;
  padding: 1rem;
  border-radius: 10%;
}

.meal-body {
  display: flex;
  justify-content: space-around;
}

.active,
.btn:hover {
  background-color: red;
  color: white;
}
